.LoaderButton {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

.LoaderButton .spinning {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}