.LoaderButton {
    margin-top: 12px;
    /* border-radius: 0; */
}

.LoaderButton .spinning {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}