.Lander,
.Terms,
.Privacy {
    padding: 60px 0 0 0;
}

.Lander .Reason {
    margin-bottom: 5rem;
}

.Feeds {
    padding: 50px 0;
}

.Feeds h1 {
    margin-bottom: 2rem;
}

.bottom-container {
    display: flex;
    flex-direction: column;
}

.bottom-container .a {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.Home {
    width: 100%;
}

.Feeds .LoaderButton,
.Settings .LoaderButton {
    width: 4rem;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input:checked {
    background-color: black;
    border: none;
}

.AccordionFeed {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.AccordionFeed {

    /* temporary */
    .KFF-Health-News {
        height: 2rem;
        margin-bottom: 0.5rem;
    }

    .The-Conversation {
        height: 4rem;
    }

    .Global-Voices {
        height: 3rem;
        margin-bottom: 0.5rem;
    }

    .Common-Dreams {
        height: 5rem;
        margin-bottom: 0.5rem;
    }

    .The-Journalist-s-Resource {
        height: 3.5rem;
        margin-bottom: 0.5rem;
    }

    .Reveal {
        height: 5rem;
        margin-bottom: 0.5rem;
    }

    .ProPublica {
        height: 2.5rem;
        margin-bottom: 0.5rem;
    }
}

/* accordion */
.accordion-item,
.accordion-button {
    border-radius: 0 !important;
}

.accordion-button:focus,
.form-select:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
    box-shadow: none;
}

.accordion-button {
    font-size: 1.8rem;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.Footer {
    display: flex;
    justify-content: center;
}