.Lander {
    padding: 60px 0 0 0;
}

.Lander .Reason {
    margin-bottom: 5rem;
}

.Feeds {
    padding: 50px 0;
}

.Feeds h1 {
    margin-bottom: 2rem;
}

.bottom-container {
    /* border-top: 2px solid rgb(200, 200, 200); */
    display: flex;
    flex-direction: column;
}

.bottom-container .a {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.Home {
    width: 100%;
}

.Feeds .LoaderButton,
.Settings .LoaderButton {
    width: 4rem;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input:checked {
    background-color: black;
    border: none;
}

.AccordionFeed {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.AccordionFeed {

    /* temporary */
    .logo1 {
        height: 30px;
        margin-bottom: 0.5rem;
    }

    .logo2 {
        height: 50px;
    }
}

.Footer {
    display: flex;
    justify-content: center;
}