.Lander {
    padding: 80px 0;
}

.Lander .Reason {
    margin-bottom: 5rem;
}

.Feeds {
    padding: 50px 0;
}

.Feeds h1 {
    margin-bottom: 2rem;
}

.bottom-container {
    border-top: 2px solid rgb(200, 200, 200);
}

.Home {
    width: 100%;
}

.Feeds .LoaderButton {
    width: 4rem;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input:checked {
    background-color: black;
    border: none;
}

.AccordionFeed {
    margin-left: 1rem;
    margin-bottom: 1rem;
}