.Settings {
    padding: 50px 0;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.Settings h2 {
    margin-bottom: 0rem;
    font-size: 1rem;
}

.Settings h3 {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.FeedEnabled {
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-group {
    max-width: 500px;
}

.Delete {
    cursor: pointer;
}

.modal-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-dialog {
    .LoaderButton {
        margin-top: 0;
    }

    .btn {
        height: 2.5rem;
    }
}