.NavbarBrand img {
  cursor: pointer;
}

.navbar-toggler {
  border: none;
}

/* .navbar {
  border-bottom: 2px solid black;
} */

/* .nav-link.active {
  text-decoration: underline;
} */

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

.nav-link.active::before {
  width: 100%;
}